# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Mac
.DS_Store

# Dataset ve görseller
dataset/
data/
downloads/
Cars_Body_Type/
stanford_archive/

# Log dosyaları
logs/

# Model çıktıları
outputs/
*.pth
*.pt
*.onnx
*.pkl

# Notebook checkpoint
.ipynb_checkpoints/

# Kaggle token varsa asla git'e atma
kaggle.json
.kaggle/